html {
  background-color: #000;
}
.pads {
  margin: 100px auto 0px auto;
  max-width: 400px;
  height: auto;
  text-align: center;
}
.padRow {
  min-width: 320px;
  margin: 0 auto;
  height: 150px;
  padding: 0 0 0 10px;
}
.pad {
  float: left;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(45deg, #4d4dff, #bc13fe);
  margin: 10px;
  transition:all 0.05s;
}


.playing {
  transform: scale(0.5);
  border-radius: 0px;
  box-shadow: 25px 10px 10px 10px pink;

}

kbd, .sound {
  vertical-align: middle;
}
